.container {
  padding: 1.5rem;
  margin: 1.5rem;
  position: relative;

  h2 {
    margin: 0 0 3rem;
    text-align: center;
  }

  .input {
    padding: 0.5rem;
    margin-bottom: 3rem;
    text-align: center;

    input {
      width: 70%;
      margin-bottom: 3.5rem;
      height: 2.5rem;
      border-radius: 20px;
      border: none;
      background-color: rgb(218, 218, 218);
      text-align: center;
      font-size: 16px;
    }
  }

  .actions {
    position: absolute;
    bottom: 0;
    right: 0;

    button {
      border-radius: 20px;
      margin-left: 15px;
      border: none;
      width: 7rem;
      height: 2.5rem;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      background-color: #8a2b06;
      &:hover {
        background-color: #641e03;
      }
    }
  }
}
