.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgba(148, 187, 233, 1);
  color: white;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  font-weight: bold;
  transition: all 400ms;
}

.button:hover,
.button:active {
  background-color: rgb(103, 161, 228);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.27);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  transition: all 400ms;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (700px >= width) {
  .button {
    padding: 0.25rem 1rem;
  }
  
  .typography {
    display: none;
  }

  .icon {
    margin-right: 0.25rem;
  }

  .badge {
    margin-left: 0.25rem;
  }
}
