.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 85vh;
  margin: 0% 5%;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.alert svg:hover {
  transition: all 400ms;
  opacity: 0.5;
  cursor: pointer;
}

@media (width >= 768px) {
  .alert {
    width: 25rem;
    right: 0;
    bottom: 2vh;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
